<div id="Home">
  <%= render 'manga/header' %>

  <div id="Home-search">
    <%= form_with url: manga_index_path, method: :get, local: true, class: 'search-form' do %>
      <%= text_field_tag :query, params[:query], placeholder: 'Search manga...', class: 'search-input' %>
      <%= submit_tag 'Search', class: 'search-button' %>
    <% end %>
  </div>

  <div id="Home-manga">
    <h2> Newest release </h2>
    <ul id="Home-manga-list">
    <% @manga_list['data'].each do |manga| %>
      <% cover_art_url = @cover_art_urls[manga['id']] %>
      <li>
        <%= image_tag cover_art_url, alt: manga['attributes']['title']['en'], size: '170x250' %>
        <p> <%= link_to manga['attributes']['title']['en'], manga_path(manga['id']) %> </p>
      </li>
    <% end %>
    </ul>
  </div>
</div>
