<div id="Home">
  <h1>Manga List</h1>
  <% if user_signed_in? %>
    <p>Welcome, <%= current_user.email %>!</p>
    <% if current_user.has_role?(:admin) %>
      <p>You are an admin.</p>
      <!-- Additional admin-only content can go here -->
    <% end %>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Login", new_user_session_path %>
    <%= link_to "Register", new_user_registration_path %>
  <% end %>
  
  <ul>
    <% @manga_list['data'].each do |manga| %>
      <li>
        <%= link_to manga['attributes']['title']['en'], manga_path(manga['id']) %>
      </li>
    <% end %>
  </ul>
</div>
<div id="comments">
  <h2>Comments</h2>
  <%= debug @comments %>
  <% if @comments.present? %>
    <% @comments.each do |comment| %>
      <div class="comment">
        <p><%= comment.content %> - <%= comment.user.email %></p>
        <% if user_signed_in? && (current_user == comment.user || current_user.has_role?(:admin)) %>
          <%= link_to 'Edit', edit_comment_path(comment) %> |
          <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No comments available.</p>
  <% end %>
</div>

 <% if user_signed_in? %>
    <h3>Add a comment:</h3>
    <%= form_with(model: Comment.new, local: true) do |form| %>
      <div class="field">
         <%= form.hidden_field :content %>
         <%= form.text_area :content %>
      </div>
      <div class="actions">
        <%= form.submit 'Post Comment' %>
      </div>
    <% end %>
  <% else %>
    <p>You must be <%= link_to 'logged in', new_user_session_path %> to comment.</p>
  <% end %>
</div>