<div id="Manga">
   </div>
  <%= link_to "Home", "/manga" %>
   </div>
  <h1> <%= @manga['attributes']['title']['en'] %> </h1>
  <div id="Manga-header">
    <div class="Manga-header-img">
      <p> <%= image_tag @cover_art, alt: @manga['attributes']['title']['en'], size: '200x300' %> </p>
    </div>
    <div class="Manga-header-text">
      <p> <%= trimmed_description(@manga['attributes']['description']['en']) %> </p>
    </div>
  </div>
  <div id="Manga-details">
    <p> Status: <%= @manga['attributes']['status'] %></p>
    <p> Last Chapter: 
      <% if @manga['attributes']['lastChapter'].present? %>
        <%= @manga['attributes']['lastChapter'] %>
      <% else %>
        --
      <% end %>
    </p>
    <p> Year: <%= @manga['attributes']['year'] %></p>
    <p> Content Rating: <%= @manga['attributes']['contentRating'] %></p>
  </div>

  <h2> Chapters </h2>
  <div id="Manga-chapters">
    <ul>
      <% @chapters_list.each do |chapter| %>
        <li>
          Chapter <%= chapter['attributes']['chapter'] %> 
          <% if chapter['attributes']['volume'].present?  %>
          - Volume: <%= chapter['attributes']['volume'] %>
          <% end %>

          <% if chapter['attributes']['updatedAt'].present? %>
          - updated at: <%= format_date(chapter['attributes']['updatedAt']) %>
          <% end %>

          <% if chapter['id'] %>
          - <%= link_to 'View Chapter', manga_chapter_pages_manga_manga_path(@manga['id'], chapter_id: chapter['id']) %>
          <% end %>
        </li>
      <% end %>

    </ul>

<div id="comments">
  <h2>Comments</h2>
  <% if @comments.present? %>
    <% @comments.each_with_index do |comment, index| %>
      <div class="comment <%= 'hidden' if index >= 5 %>">
        <div class="comment-header">
          <p class="comment-user"><%= comment.user.email %></p>
          <% if user_signed_in? %>
            <div class="comment-actions">
              <% if current_user == comment.user %>
                <%= link_to 'Edit', edit_comment_path(comment), class: 'edit-link' %>
                <span>|</span>
              <% end %>
              <% if current_user.has_role?(:admin) || current_user == comment.user %>
                <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-link' %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="comment-content">
          <p><%= comment.content %></p>
          <% if comment.edited_at.present? %>
            <small class="edited">(edited)</small>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No comments available.</p>
  <% end %>
</div>

<% if @comments.present? && @comments.size > 5 %>
  <button id="view-more-btn" class="btn btn-primary">View More</button>
  <button id="view-less-btn" class="btn btn-secondary" style="display: none;">View Less</button>
<% end %>

<% if user_signed_in? %>
  <div class="comment-form">
    <h3>Add a comment:</h3>
    <%= form_with(model: Comment.new, local: true) do |form| %>
      <%= hidden_field_tag 'manga_ref', params[:id] %>
      <div class="field">
        <%= form.text_area :content, placeholder: "Write your comment here...", class: "comment-textarea" %>
      </div>
      <div class="actions">
        <%= form.submit 'Post Comment', class: "comment-submit" %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="login-message">
    <p>You must be <%= link_to 'logged in', new_user_session_path %> to comment.</p>
  </div>
<% end %>

